<html ng-app="notes">
<head>
	<title>Notes</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="lib/angular/angular.min.js"></script>
    <script src="controllers/notesCtrl.js"></script>
</head>
<body>
	<div class="container" ng-controller="notesCtrl">
		
		<div class="row clearfix">
			<div id="top-bar">
				<div id="top-bar-content">
					<span>Notes</span>
                    <div class="btn btn-danger btn-xs" style="float: right;" ng-click="doLogout()">Sair</div>
				</div>
			</div>
		</div>

        <div class="row clearfix">
            <div class="controls">
                <div class="col-md-4">
                    <textarea id="noteContent" name="noteContent"  placeholder="Seu texto aqui" ng-model="noteContent"
                           type="text" class="form-control"> </textarea>
                </div>                   
                <div class="col-md-2">
                    <button ng-click="addNote()" id="btnAdd" name="btnAdd" class="btn btn-primary">Adicionar</button>
                </div>                     
            </div>
        </div>
        <div class="row clearfix">
        	<div class="div-note" ng-repeat="note in dataset">
        		<span title="Deletar esta nota" class="div-note-bt" ng-click="delNote(note.note_id)">x</span>
        		{{note.content}}
        	</div>
        </div>
    </div>
</body>
</html>